In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/algerian-forest-fires-dataset/Algerian_forest_fires_dataset.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings 
warnings.filterwarnings("ignore")
%matplotlib inline

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
df = pd.read_csv(r"/kaggle/input/algerian-forest-fires-dataset/Algerian_forest_fires_dataset.csv",header=1) 
df.head()

   1  6  2012  29  57  18     0  65.7  3.4   7.6  1.3 3.4.1  0.5  not fire
0  2  6  2012  29  61  13   1.3  64.4  4.1   7.6    1   3.9  0.4  not fire
1  3  6  2012  26  82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1  not fire
2  4  6  2012  25  89  13   2.5  28.6  1.3   6.9    0   1.7    0  not fire
3  5  6  2012  27  77  16     0  64.8    3  14.2  1.2   3.9  0.5  not fire
4  6  6  2012  31  67  14     0  82.6  5.8  22.2  3.1     7  2.5      fire

In [4]:
df.drop([122,123],inplace=True) 
df.reset_index(inplace=True) 
df.drop('index',axis=1,inplace=True)

In [5]:
df.loc[:122, 'region'] = 'bejaia' 
df.loc[122:, 'region'] = 'Sidi-Bel Abbes'

In [6]:
df.columns = [i.strip() for i in df.columns] 
df.columns

Index(['1', '6', '2012', '29', '57', '18', '0', '65.7', '3.4', '7.6', '1.3',
       '3.4.1', '0.5', 'not fire', 'region'],
      dtype='object')