In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings 
warnings.filterwarnings("ignore")
%matplotlib inline

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv(r"/kaggle/input/algerian-forest-fires-dataset/Algerian_forest_fires_dataset.csv",header=1) 
df.head()

   1  6  2012  29  57  18     0  65.7  3.4   7.6  1.3 3.4.1  0.5  not fire
0  2  6  2012  29  61  13   1.3  64.4  4.1   7.6    1   3.9  0.4  not fire
1  3  6  2012  26  82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1  not fire
2  4  6  2012  25  89  13   2.5  28.6  1.3   6.9    0   1.7    0  not fire
3  5  6  2012  27  77  16     0  64.8    3  14.2  1.2   3.9  0.5  not fire
4  6  6  2012  31  67  14     0  82.6  5.8  22.2  3.1     7  2.5      fire

In [3]:
df.drop([122,123],inplace=True) 
df.reset_index(inplace=True) 
df.drop('index',axis=1,inplace=True)

In [4]:
df.loc[:122, 'region'] = 'bejaia' 
df.loc[122:, 'region'] = 'Sidi-Bel Abbes'

In [5]:
df.columns = [i.strip() for i in df.columns] 
df.columns

Index(['1', '6', '2012', '29', '57', '18', '0', '65.7', '3.4', '7.6', '1.3',
       '3.4.1', '0.5', 'not fire', 'region'],
      dtype='object')